<div class="update1" >
    <!-- <form ng-submit="addRow(text)"></form> -->
         <p class="id">Id:
            <input type="text" name="id" ng-model="emp.id" style="height: 20px;width: 240px; border-radius: 4px;">

        </p>
        
        <p class="name">Name:
            <input type="text" name="name" ng-model="emp.name" style="height: 20px;width: 240px; border-radius: 4px;">
        </p>
        <p class="email1">Email:
            <input type="text" name="name" ng-model="emp.email" style="height: 20px;width: 240px; border-radius: 4px;">

        </p>

        <p class="city">City:
            <input type="text" name="text" ng-model="emp.city" style="height: 20px;width: 240px; border-radius: 4px;">
        </p>
    
            <button  ng-click="update(emp)"  style="height: 30px;width:100px;margin-left:70px;background-color: lightblue;">UPDATE</button>

            <button  ng-click="addemp($index)" style="height: 30px;width:100px;background-color: lightblue">ADD</button>
        
    </form>
</div>



